.breadcrumb-container--services {
    background-color: var(--bg-2-color);
}

.all-services {
    background-color: var(--bg-2-color);
}

.all-services .o-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.c-services__space-between {
    display: flex;
    align-items: center;
    text-align: right !important;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.instructions-btn {
    color: var(--static-white-color);
    background-color: var(--gray-color);
    padding: 2px var(--spacing-sm);
}

.c-services_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-md);
}

.c-service-card__title {
    color: var(--primary-color);
}

.c-service-card {
    display: flex;
    flex-direction: column;
    transition: all 200ms linear;
    border: 1px solid var(--border-color);
    max-height: var(--sizing-xxxxl);
    position: relative;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
}

.c-service-card:nth-child(3)::after {
    position: absolute;
    content: "خصم 25%";
    padding: var(--sizing-xs);
    color: var(--static-white-color);
    background-color: var(--gradient--deep-color);
}

.c-service-card:nth-child(4)::after {
    position: absolute;
    content: "خصم 30%";
    padding: var(--sizing-xs);
    color: var(--static-white-color);
    background-color: var(--gradient--deep-color);
}

.service-wallpaper {
    height: var(--sizing-xxxl);
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}

.service-wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s linear;
}

.service-wallpaper:hover img {
    transform: scale(1.1);
}

.service-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-service-card__direct {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--static-white-color);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: background-color 100ms linear;
}

.c-service-card__direct:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 992px) {
    .c-services_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .c-services__space-between {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    .c-services_cards {
        grid-template-columns: 1fr;
    }
}