.breadcrumb {
    display: flex;
    gap: var(--spacing-sm);
}

.breadcrumb-item a {
    color: var(--primary-color);
}

.breadcrumb span {
    color: var(--text-gray-color);
}

.breadcrumb-item.active {
    color: var(--text-gray-color);
}

.c-services__title {
    font-size: var(--sizing-lx);
    text-align: right;
}

.c-service-card__title {
    color: var(--primary-color);
}

.c-services .o-container header {
    display: flex;
    flex-direction: column;
}

.c-services__space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sidebar-services {
    top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    color: var(--text-white-color);
    background-color: var(--gray-color);
}

.instructions-btn {
    color: var(--text-white-color);
    background-color: var(--badge-color);
    padding: 2px var(--spacing-sm);
}

.c-filtering-services-form {
    display: flex;
    flex-direction: column;
    gap: var(--sizing-sm);
}

.c-form__group__inline {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.c-services_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-md);
    align-items: flex-start;
    padding: 0;
}

@media (max-width: 992px) {
    .c-services_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .c-services__title {
        font-size: var(--sizing-lg);
    }

    .c-services__space-between {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--spacing-md);
    }
}

@media (max-width: 600px) {
    .c-services_cards {
        grid-template-columns: 1fr;
    }
}

.c-service-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    color: var(--text-dark-color);
    background-color: var(--card-service-color);
    border: 1px solid var(--border-light-color);
    padding: var(--spacing-md);
    transition: all 200ms linear;
    max-height: var(--sizing-xxxxl);
    position: relative;
}

.service-price {
    font-weight: 700;
}

.service-icon {
    height: 16px;
    width: 16px;
}



.c-service-card:nth-child(3)::after {
    position: absolute;
    content: "خصم 25%";
    padding: var(--sizing-xs);
    color: var(--text-white-color);
    background-color: var(--gradient--deep-color);
}

.c-service-card:nth-child(4)::after {
    position: absolute;
    content: "خصم 30%";
    padding: var(--sizing-xs);
    color: var(--text-white-color);
    background-color: var(--gradient--deep-color);
}

.service-wallpaper {
    height: var(--sizing-xxxl);
    overflow: hidden;
}

.service-wallpaper:hover img {
    transform: scale(1.02);
}

.service-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-head-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s linear;
}

.c-service-card:hover {
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px var(--sizing-xs) var(--secondary-color);
}

.c-service-card__date {
    color: var(--gray-color);
}

.c-service-card header>*:not(:last-child),
.c-service-card>*:not(:last-child) {
    border-bottom: 1px solid var(--border-light-content-color);
    padding-bottom: var(--spacing-sm);
}

.c-service-card header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.c-service-card header>div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.c-service-card__direct {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-white-color);
    padding: var(--spacing-sm) var(--spacing-md);
    width: 100%;
    transition: background-color 100ms linear;
}

.c-service-card__direct:hover {
    background-color: var(--secondary-color);
}

.c-instructions .o-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.c-instructions-title {
    color: var(--primary-color);
}

.instructions-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-lg);
}

.c-ins__provide,
.c-ins__client {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    border: 1px solid var(--border-light-color);
}

.c-ins__provide span {
    color: var(--primary-color);
}

.c-ins__provide h3 {
    display: flex;
    align-items: center;
}

.c-ins__client h3 {
    display: flex;
    align-items: center;
}




/* .c-service-card.hide {
    display: none;
} */








/* .services-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--spacing-lg);
}

.services-main>* {
    border: 1px solid var(--border-light-color);
    padding: var(--spacing-md);
}

.c-service-main__icon--size {
    width: var(--sizing-lg);
    height: var(--sizing-lg);
}

.c-service-main__icon {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
    font: var(--icon-font-size);
    margin-left: var(--spacing-sm);
}

.c-how-to-use {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--sizing-sm);
}

.c-how-box-container {
    display: grid;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-md);
}

.c-how-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sizing-md);
    overflow: hidden;
    border: 1px solid var(--border-light-color);
}

.c-instructions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-sm);
}

.c-instructions>div {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: var(--spacing-md);
}



.c-services-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--sizing-sm);
}

.c-categories {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: var(--spacing-md);
}

.c-services-filter {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    background-color: var(--bg--section-2-color);
    border: 1px solid var(--border-light-color);
}

.c-services-filter__button {
    color: var(--text-color-white);
    background-color: var(--primary-color);
    padding: var(--spacing-sm);
    text-align: center;
    cursor: pointer;
}

.c-services-filter__button.active {
    background-color: var(--secondary-color);
}

.c-services-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.c-services-cards-container {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(3, 1fr);
}



.c-reviews {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: flex-start;
    justify-content: flex-start;
    grid-row: 4;
}

.c-services__button {
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white);
}

.c-services-filter__button:hover,
.c-service-card__direct:hover {
    background-color: var(--secondary-color);
}

.c-services__button {
    background-color: var(--cta-color);
}


.c-services__button:hover {
    color: var(--text-color-white);
    background-color: var(--cta-hover-color);
} */