.breadcrumb-container--services {
    background-color: var(--bg-2-color);
}

.all-services {
    background-color: var(--bg-2-color);
}

.all-services .o-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.c-services__space-between {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: right !important;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.instructions-btn {
    color: var(--static-white-color);
    background-color: var(--gray-color);
    padding: 2px var(--spacing-sm);
}

.c-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    background-color: var(--gray-bg-color);
    box-shadow: 0px 0px 2px 0px var(--gray-color);
    padding: var(--spacing-md);
    height: 100%;
    max-width: var(--sizing-xxxxl);
    width: 100%;
    overflow: hidden;
    transition: box-shadow 200ms linear;
}
.c-service:hover{
    box-shadow: 0px 0px 4px 0px var(--gray-color);
}
.c-service__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.c-service .c-service__title {
    color: var(--primary-color);
}

.c-service .c-service__sub-title {
    color: var(--secondary-color);
    margin-bottom: var(--spacing-sm);
}

.c-service main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    justify-content: center;
}

.c-service main>*:not(:nth-child(5)):not(:nth-child(6)) {
    border-bottom: 2px solid var(--border-color);
    padding-bottom: var(--spacing-sm);
}

.c-service .c-service__technicals ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.c-service .c-service__technicals ul>li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--static-white-color);
    background-color: var(--gray-color);
    padding: var(--spacing-sm);
}

.c-service .c-service__technicals ul>li img {
    margin-right: var(--spacing-sm);
}

.c-service .c-service__technicals small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: var(--spacing-sm);
}

.c-service .c-service__features ul>* {
    display: list-item;
    list-style: disc;
    margin-right: var(--spacing-ml);
}

.c-service main>div select {
    width: 100%;
}
.c-service .c-service__direct{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--static-white-color);
    background-color: var(--cta-color);
    font-size: var(--sizing-ml);
    padding: var(--spacing-md);
    transition: all 100ms linear;
    animation: moving 3s ease-in-out infinite forwards;
}
@keyframes moving{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0.5deg);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    75% {
        transform: rotate(0.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.c-service .c-service__direct:hover{
    background-color: var(--cta-hover-color);
}

@media (max-width: 350px) {
    .c-service .c-service__direct{
        font-size: var(--sizing-md);
    }
}