/* variables */
:root {
    --black-color: #000;
    --gray-color: gray;
    --white-color: #fff;
    --bg-color: #fff;
    --bg-navbar-color: #bbbbbb;
    --border-dark-color: #111111;
    --border-white-color: #ffffff;
    --bg--section-1-color: #fff;
    --bg--section-2-color: #fafafa;
    --primary-color: #940020;
    --secondary-color: #C44800;
    --highlight-border-color: #0055c4;
    --success-color: rgb(0, 196, 26);
    --cta-color: #026CC9;
    --cta-hover-color: #1380df;
    --text-color-dark: #111111;
    --text-color-white: #ffffff;
    --word-spacing: 2px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-xxl: 128px;
    --sizing-sm: 8px;
    --sizing-md: 16px;
    --sizing-lg: 32px;
    --sizing-xl: 64px;
    --sizing-xxl: 128px;
    --sizing-xxxl: 256px;
    --sizing-xxxxl: 512px;
    --sizing-xxxxxl: 768px;
    --sizing-xxxxxxl: 1024px;
    --logo-height: 64px;
    --navbar-height: 80px;
    --container-width: 1280px;
}

/* reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: var(--sizing-md);
    background-color: var(--bg-color);
    color: var(--text-color-dark);
    word-spacing: var(--word-spacing);
    line-height: 1.6;
}


a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: var(--cta-color);
}



h1,
h2 {
    color: var(--primary-color);
}

h1,
h2,
h3 {
    margin-bottom: var(--sizing-md);
}

h2 {
    font-size: var(--sizing-lg);
    width: fit-content;
    padding-bottom: var(--sizing-md) !important;
    border-bottom: 2px solid var(--primary-color);
}

.c-title-no-margin {
    margin: 0;
}

.c-highlight {
    padding-bottom: 3px;
    border-bottom: 2px solid var(--highlight-border-color);
}

span {
    font-weight: 500;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin: var(--navbar-height);
}

/* o-container */
.o-container {
    max-width: var(--container-width);
    padding: var(--spacing-xl);
}

section:first-child {
    margin-top: var(--navbar-height);
}

/* header */
.c-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-height: var(--navbar-height);
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-xl);
    background-color: var(--bg-navbar-color);
    z-index: 999;
}

.c-hero__title {
    margin: 0;
}

.c-header__wallpaper {
    height: var(--logo-height);
    overflow: hidden;
}

.c-header__img {
    height: 100%;
}

.c-nav {
    display: flex;
    gap: var(--spacing-md);
}

.c-projects__button,
.c-services__button,
.c-about__card__button,
.c-nav__li a {
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white);
    border-radius: var(--sizing-sm);
    transition: background-color 200ms ease;
}

.c-projects__button,
.c-services__button,
.c-about__card__button {
    background-color: var(--cta-color);
}

.c-projects__button:hover,
.c-services__button:hover,
.c-hero__button:hover,
.c-about__card__button:hover {
    color: var(--text-color-white);
    background-color: var(--cta-hover-color);
}

.c-hero__button--ghost:hover {
    color: var(--cta-color);
    background-color: var(--cta-hover-color);
}

.c-nav__li a {
    background-color: var(--primary-color);
}

.c-nav__li a:hover {
    background-color: var(--secondary-color);
}

.c-header__collapse {
    display: none;
    flex-shrink: 0;
    font-size: var(--sizing-lg);
    padding: var(--spacing-sm);
    color: var(--text-color-white) !important;
    border-radius: var(--sizing-sm);
    transition: background-color 200ms ease;
}

#collapse.hide {
    display: none;
}

.c-header__button {
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white) !important;
    border-radius: var(--sizing-sm);
    background-color: var(--cta-color);
    transition: background-color 200ms ease;
}

.c-header__button:hover {
    background-color: var(--cta-hover-color);
}

.c-nav__li--contact {
    display: none;
}



/* hero */
.c-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    text-align: center;
    background-color: var(--bg--section-1-color);
}

.c-hero__title {
    font-size: var(--sizing-xl);
}

.c-hero__title span {
    color: var(--primary-color);
}

.c-hero__description {
    font-size: var(--sizing-lg);
}

.c-hero__description span {
    color: var(--secondary-color);
}

.c-hero__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    width: 100%;
}

.c-hero__button {
    font-size: var(--sizing-md);
    padding: var(--spacing-md)  var(--spacing-lg);
    background-color: var(--cta-color);
    color: var(--text-color-white);
    border-radius: var(--sizing-sm);
    text-align: center;
    transition: background-color 200ms ease;
}

.c-projects__button--ghost,
.c-hero__button--ghost {
    background-color: transparent;
    border: 1px solid var(--cta-color);
    color: var(--cta-color);
}

.c-projects__button--ghost:hover,
.c-hero__button--ghost:hover {
    color: var(--cta-color);
    background-color: #026cc90c;
}

/* about */
.c-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-lg);
    background-color: var(--bg--section-2-color);
}

.c-about__footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    gap: var(--spacing-lg);
}

.c-about__cards {
    display: grid;
    gap: var(--spacing-lg);
    max-width: var(--sizing-xxxxxl);
}

.c-about__card {
    position: relative;
    padding: var(--spacing-lg);
    text-align: right;
    border-radius: var(--sizing-sm);
}

.c-about__card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    position: relative;
    inset: 0;
    z-index: 2;
    border-radius: var(--sizing-sm);
}


.c-about__card--summary::after {
    background-color: var(--bg--section-1-color);
}

.c-about__card--information::after {
    background-color: var(--bg--section-1-color);
}

.c-about__card--information::after,
.c-about__card--summary::after {
    box-shadow: inset 0px 0px 2px 0px var(--black-color);
    position: absolute;
    content: "";
    inset: 0;
    border-radius: var(--sizing-sm);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c-about__list {
    display: flex;
    flex-direction: column;
}

.c-about__list__child {
    position: relative;
    margin-right: 24px;
}

.c-about__list__child::before {
    position: absolute;
    content: "✦";
    transform: translateY(50%, -50%);
    right: -24px;
}

.c-about__card__button {
    width: fit-content;
}

.c-about__list__child,
.c-about__link {
    transition: color 300ms ease;
}

.c-about__list__child a:hover,
.c-about__link:hover {
    color: var(--cta-hover-color);
}

.c-about__preview {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--cta-color);
    box-shadow: inset 0px 0px 5px 0px var(--gray-color);
    border: 2px solid var(--border-dark-color);
    border-radius: 50%;
}

.c-about__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(0.5);
    transition: transform 300ms ease, filter 300ms ease;
}

.c-about__preview:hover .c-about__img {
    transform: scale(1.1);
    filter: grayscale(0) brightness(120%);
}

.c-about__img .c-about__preview:hover {
    border-color: transparent;
}

/* services */
.c-services {
    background-color: var(--bg--section-1-color);
}

.c-services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    text-align: center;
    padding: var(--spacing-lg) 0;
    overflow: hidden;
}

.c-services__card__img {
    display: flex;
    padding: var(--spacing-md);
    width: 100%;
    height: var(--sizing-xxxl);
    object-fit: contain;
    box-shadow: inset 0px 0px 1px 0px var(--black-color);
    background-color: var(--bg--section-2-color);
    border-radius: var(--sizing-sm);
}

.slider-container {
    max-width: var(--sizing-xxxxxxl);
    height: auto;
    margin-inline: auto;
}

.custom-swiper-pagination {
    bottom: -7px !important;
}

.c-services__desc {
    text-align: right;
    border-radius: var(--sizing-sm);
    background-color: var(--bg--section-2-color);
    padding: var(--sizing-sm);
}

.c-services__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.c-services__icon {
    width: var(--sizing-md);
    height: var(--sizing-md);
    margin-right: var(--sizing-sm);
}

/* projects */
.c-projects {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    background-color: var(--bg--section-2-color);
}

.c-projects__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
}

.c-projects__label {
    cursor: pointer;
    padding-left: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    border-radius: var(--sizing-sm);
    color: var(--white-color);
    background-color: var(--primary-color);
}

.c-projects__input {
    appearance: none;
}

.c-projects__navbar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.c-projects__cards {
    display: grid;
    gap: var(--spacing-lg);
    grid-template-columns: 1fr 1fr 1fr;
}

.c-projects__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--sizing-md);
    box-shadow: 0px 0px 3px 0px var(--gray-color);
}

.c-projects__img {
    height: var(--sizing-xxxl);
    object-fit: cover;
    object-position: center;
}

.c-projects__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
}

.c-projects__content__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-projects__content__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.c-projects__badge {
    color: var(--white-color);
    background-color: var(--highlight-border-color);
    padding: 0 var(--spacing-sm);
    border-radius: var(--sizing-sm);
}

.c-projects__actions {
    display: flex;
    gap: var(--spacing-md);
}

.c-projects__button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--spacing-sm);
}

.c-projects__icon {
    height: var(--sizing-md);
}

/* xs device */
@media (max-width: 500px) {
    .is-active {
        flex-direction: column;
    }

    .c-projects__button span {
        display: none;
    }
}

/* sm device */
@media (max-width: 600px) {
    .c-hero__title {
        font-size: var(--sizing-lg);
    }

    .c-hero__description {
        font-size: var(--sizing-md);
    }

    .c-projects__button {
        padding: var(--spacing-sm);
    }

    .c-hero__button {
        font-size: var(--sizing-md);
        padding: var(--spacing-sm) var(--spacing-md);
        border: 1px solid transparent;
    }

    .c-hero__button--ghost {
        background-color: transparent;
        border: 1px solid var(--cta-color);
        color: var(--cta-color);
    }

    .c-hero__button--ghost:hover {
        background-color: #026cc90c;
    }

    .c-services__button {
        max-width: fit-content;
    }
}

/* md device */
@media (max-width: 768px) {}

/* xl device */
@media (max-width: 1200px) {
    .c-projects__cards {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    .c-about__footer {
        flex-direction: column-reverse;
    }
}

/* lg device */
@media (max-width: 992px) {


    h2 {
        width: 100%;
        text-align: center;
        padding: 0 var(--sizing-sm);
    }

    .c-header__button {
        display: none;
    }

    .c-header__collapse,
    .c-nav__li--contact {
        display: flex;
    }

    .c-nav {
        display: none;
    }

    .active-is {
        justify-content: center;
        align-items: flex-start;
        gap: var(--spacing-lg);
        flex-direction: column;
        padding-bottom: var(--spacing-lg);
    }

    .is-active {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-md);
    }

    .c-projects__cards {
        grid-template-columns: 1fr;
    }

}