@font-face {
    font-family: Brickshapers;
    src: url(assets/fonts/Brickshapers-eXPx.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

/* variables */
:root {
    --black-color: #000;
    --gray-color: gray;
    --white-color: #fff;
    --bg-color: #fff;
    --bg-navbar-color: #000000;
    --border-dark-color: #111111;
    --border-light-coloc-hero__sectionr: #c5c5c5;
    --border-white-color: #ffffff;
    --bg--section-1-color: #fff;
    --bg--section-2-color: #fafafa;
    --primary-color: #940020;
    --secondary-color: #C44800;
    --expired-color: #b90028;
    --start-color: rgb(0, 196, 26);
    --working-color: rgb(196, 193, 0);
    --highlight-color: #7e7e7e;
    --highlight-frontend-color: #009400;
    --highlight-4-color: #b6a508;
    --highlight-5-color: #850bbd;
    --highlight-6-color: #590094;
    --expert-color: #940020;
    --proficient-color: #944f00;
    --learning-color: #949100;
    --success-color: rgb(0, 196, 26);
    --cta-color: #026CC9;
    --cta-hover-color: #1380df;
    --text-color-dark: #111111;
    --text-color-white: #ffffff;
    --border-light-color: #dddddd;
    --word-spacing: 2px;
    --spacing-xs: 6px;
    --spacing-sm: 8px;
    --spacing-smd: 12px;
    --spacing-smmd: 14px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-xxl: 128px;
    --sizing-sm: 8px;
    --sizing-md: 16px;
    --sizing-ml: 24px;
    --sizing-lg: 32px;
    --sizing-lx: 48px;
    --sizing-xl: 64px;
    --sizing-xsl: 96px;
    --sizing-xxl: 128px;
    --sizing-xxsl: 208px;
    --sizing-xxxl: 256px;
    --sizing-xxxll: 384px;
    --sizing-xxxxl: 512px;
    --sizing-xxxxxl: 768px;
    --sizing-xxxxxll: 896px;
    --sizing-xxxxxxl: 1024px;
    --icon-font-size: 24px;
    --icon-size-md: 24px;
    --icon-size: 48px;
    --logo-height: 64px;
    --navbar-height: 64px;
    --ham-line-size: 4px;
    --container-width: 1408px;
    --instagram-color: #833AB4;
    --tiktok-color: #FE2C55;
    --linkedin-color: #0077B5;
    --github-color: #24292e;
    --whatsapp-color: #25D366;
    --envelope-color: #0489c9;
}

/* reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    scroll-padding-top: var(--navbar-height);
}

body {
    font-family: "Rubik", sans-serif;
    font-size: var(--sizing-md);
    background-color: var(--bg-color);
    color: var(--text-color-dark);
    word-spacing: var(--word-spacing);
    line-height: 1.5;
    padding-top: var(--navbar-height);
}

p {
    overflow-wrap: break-all;
    line-height: 1.6;
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: var(--cta-color);
}


h1 {
    font-size: var(--sizing-lg);
    text-align: center;
}

h2 {
    font-size: var(--sizing-ml);
}

h1 {
    color: var(--primary-color);
    margin-bottom: var(--sizing-xl);
}

.c-title-no-margin {
    margin-bottom: 0;
}

.c-highlight {
    padding-bottom: 3px;
    border-bottom: 1px solid var(--highlight-color);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xl) var(--spacing-md);
}


/* o-container */
.o-container {
    max-width: var(--container-width);
    width: 100%;
}

.breadcrumb {
    display: flex;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
}

.breadcrumb-item a {
    color: var(--cta-color);
}

.breadcrumb span {
    color: var(--gray-color);
}

.breadcrumb-item.active {
    color: var(--primary-color);
}

/* carousel */

.c-wrapper-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: calc(var(--sizing-xxxxl) - 100px); */
    width: 100%;
    height: var(--sizing-xxxl);
    position: relative;
}

.c-wrapper-slider__img-container {
    height: var(--sizing-xxxl);
    max-width: var(--sizing-xxxxxl);
    width: 100%;
    overflow: hidden;
}

.c-wrapper-slider__img-container__carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.c-wrapper-slider__img-container__carousel__img {
    height: 100%;
    width: 100%;
    /* border: 10px solid var(--white-color); */
    border-bottom: 1px solid var(--black-color);
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    height: var(--sizing-lg) !important;
    width: var(--sizing-lg) !important;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-color);
    background-color: var(--primary-color);
    text-align: center;
    line-height: var(--sizing-lg) !important;
    transition: all 100ms linear;
    z-index: 100;
    cursor: pointer;
}

.carousel-button:active {
    transform: scale(0.94) translateY(-50%);
    background-color: var(--secondary-color);
}

.js-next-carousel {
    right: var(--sizing-md);
}

.js-prev-carousel {
    left: var(--sizing-md);
}

/* header */

.c-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: var(--bg-navbar-color);
    filter: drop-shadow(0px 0px 1px var(--white-color));
}

.c-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-header__logo {
    font-family: Brickshapers;
    font-size: var(--sizing-lg);
    color: var(--text-color-white);
}

.c-header__logo span:first-child {
    color: var(--primary-color);
    font-weight: 600;
}

.o-container--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: var(--navbar-height);
    gap: var(--spacing-md);
    padding: var(--spacing-sm) var(--spacing-md);
    overflow-wrap: break-word;
    max-width: var(--container-width);
}

.hidden-header {
    display: none;
}

.c-header__wallpaper {
    height: var(--logo-height);
}

.c-header__img {
    height: 100%;
}

.c-nav {
    display: flex;
    gap: var(--spacing-md);

}


.c-nav__li {
    display: flex;
    transition: background-color 100ms linear;
}

.c-nav__li:hover {
    background-color: var(--primary-color);
}

.c-nav__li:last-child {
    display: none;
    background-color: var(--cta-color);
}


.c-nav__li a {
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white);
}


.c-header__button {
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white) !important;
    background-color: var(--cta-color);
    transition: background-color 100ms linear;
}

.c-header__button:hover {
    background-color: var(--cta-hover-color);
}

.c-nav__li--contact {
    display: none;
}


/* hero */
/* .c-hero__social-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}


.c-hero__social-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--icon-font-size);
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--white-color);
}

.c-hero__social-nav__link i {
    transition: all 0.1s linear;
    opacity: 0.9;
}

.c-hero__social-nav__link i:hover {
    opacity: 1;
    transform: scale(1.2);

}

.c-hero__social-nav__link--instagram {
    background-color: var(--instagram-color);
}

.c-hero__social-nav__link--tiktok {
    background-color: var(--tiktok-color);
}

.c-hero__social-nav__link--linkedin {
    background-color: var(--linkedin-color);
}

.c-hero__social-nav__link--github {
    background-color: var(--github-color);
}

.c-hero__social-nav__link--whatsapp {
    background-color: var(--whatsapp-color);
}

.c-hero__social-nav__link--envelope {
    background-color: var(--envelope-color);
}

.c-hero__social-medias {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.c-hero__aside {
    flex: 40%;
    height: var(--sizing-xxxxl);
    width: var(--sizing-xxxxl);
    overflow: hidden;
    filter: drop-shadow(0px 5px 15px var(--white-color));
}

.c-hero__aside img {
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
}

.c-hero__aside img:hover {
    transform: skewX(5deg) translateY(-10px);
} */
.c-hero {
    background-color: var(--bg--section-1-color);
}


.c-hero .o-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
}

.c-hero__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    color: var(--text-color-dark);
}

.c-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: var(--sizing-xxxxxll);
    gap: var(--spacing-lg);
    z-index: 1;
    filter: drop-shadow(0px 0px 1px var(--dark-color));
}

.read-more-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-dark);
    font-size: var(--sizing-md);
}

.read-more-hero i {
    color: var(--primary-color);
    display: flex;
    width: var(--icon-font-size);
    height: var(--icon-font-size);
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    animation: updown 0.8s infinite ease-in-out alternate;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-4px);
    }
}

.c-hero__content:last-child {
    margin: 0;
}

.c-hero__content__title {
    font-size: var(--sizing-lx);
}

.c-hero__social-medias span,
.c-hero__content span {
    font-size: var(--sizing-lg);
}

.c-hero__content span img {
    display: inline-block;
    width: var(--sizing-lg);
    height: var(--sizing-lg);
    animation: wave-animation 2.5s infinite;
}

.c-hero__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    width: 100%;
}

.c-hero__button {
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--primary-color);
    color: var(--text-color-white);
    text-align: center;
    transition: background-color 100ms linear;
}

.c-hero__button:hover {
    background-color: var(--secondary-color);
}

.c-hero__button--ghost {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.c-hero__button--ghost:hover {
    color: var(--primary-color);
    background-color: #c4480010;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg);
    }

    10% {
        transform: rotate(24.0deg);
    }

    20% {
        transform: rotate(-12.0deg);
    }

    30% {
        transform: rotate(14.0deg);
    }

    40% {
        transform: rotate(-4.0deg);
    }

    50% {
        transform: rotate(20.0deg);
    }

    60% {
        transform: rotate(0.0deg);
    }

    100% {
        transform: rotate(0.0deg);
    }
}



.c-about {
    border-top: 1px solid var(--border-light-color);
    background: var(--bg--section-2-color);
}

.c-about__cards {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: var(--sizing-xxsl) 1fr 1fr;
    width: 100%;
    gap: var(--spacing-lg);
}

.c-about__personal-img {
    display: block;
    margin: 0 auto;
    background-color: var(--white-color);
    height: var(--sizing-xxxl);
    width: var(--sizing-xxsl);
    border: 1px solid var(--border-light-color);
}

.c-about__card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: var(--bg--section-1-color);
    border: 1px solid var(--border-light-color);
}

.c-about__card__button {
    width: fit-content;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white);
    background-color: var(--primary-color);
    transition: background-color 100ms linear;
}

.c-about__card__button:hover {
    background-color: var(--secondary-color);
}


/* services */
.c-services {
    border-top: 1px solid var(--border-light-color);
    border-bottom: 1px solid var(--border-light-color);
    background: var(--bg--section-1-color);
}

.c-services .o-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-lg);
}

.services__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-md);
    gap: var(--spacing-md);
    background-color: var(--bg--section-2-color);
    border: 1px solid var(--border-light-color);
}

.services__card h2 {
    color: var(--primary-color);
}

.services__card i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -48px;
    background-color: var(--bg--section-1-color);
    border: 1px solid var(--border-light-color);
    color: var(--black-color);
    width: var(--sizing-xsl);
    height: var(--sizing-xsl);
    font-size: var(--sizing-lx);
}

.services__direct {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-color-white) !important;
    background-color: var(--primary-color);
    transition: background-color 200ms linear;
}

.services__direct:hover {
    background-color: var(--secondary-color);
}

/* projects */
.c-projects {
    background-color: var(--bg--section-2-color);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-lg);
}

.project-card {
    border: 1px solid var(--border-light-color);
}

.project-card main>*:not(:last-child) {
    border-bottom: 1px solid var(--border-light-color);
}

.project-card main>* {
    padding: var(--spacing-md) 0;
}

.project-card main {
    padding: var(--spacing-md);
    background-color: var(--bg--section-1-color);
}

.project-card main>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card header {
    height: var(--sizing-xxsl);
    overflow: hidden;
}

.projcet-date {
    color: var(--gray-color);
}

.project-technique {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.project-technique li {
    color: var(--text-color-white);
    background-color: var(--primary-color);
    padding: var(--spacing-sm);
}

.project-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-bottom: 1px solid var(--border-light-color);
}

.project-card-direct {
    display: inline-flex;
    justify-content: center;
    margin-top: var(--spacing-md);
    color: var(--text-color-white);
    background-color: var(--primary-color);
    width: 100%;
}

/* certificates */

.c-skills {
    background-color: var(--bg--section-1-color);
    border-bottom: 1px solid var(--border-light-color);
}

.c-skills .o-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.skills-con-with-nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.bgcolor-guide {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: 1px solid var(--border-light-color);
}

.bgcolor-guide div {
    display: flex;
    gap: var(--spacing-md);
    flex: 1;
}

.bgcolor-guide button {
    flex: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-white);
    font-size: var(--sizing-ml);
    padding: var(--spacing-md);
    border: 1px solid var(--border-light-color);
}

.bgcolor-guide button:hover {
    filter: brightness(120%);
}

.bgcolor-guide button:nth-child(1) {
    background-color: var(--gray-color);
}

.bgcolor-guide button:nth-child(2) {
    background-color: var(--expert-color);
}

.bgcolor-guide button:nth-child(3) {
    background-color: var(--proficient-color);
}

.bgcolor-guide button:nth-child(4) {
    background-color: var(--learning-color);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-md);
}

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
}

.skills-card h2 {
    font-weight: 400;
}

.skills-tech-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    width: 100%;
}


.skills-tech-container .skill.highlighted {
    z-index: 10;
    opacity: 1;
}

.skills-tech-container .skill.dimmed {
    transform: scale(0.80);
    opacity: 0.2;
    filter: grayscale(100%);
}

.skill {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--sizing-xl);
    padding: var(--spacing-sm) var(--spacing-md);
    width: 100%;
    border: 1px solid var(--border-light-color);
    transition: all 200ms linear;
    z-index: 1;
}

.skill img {
    height: 100%;
    background-color: var(--bg--section-2-color);
    border: 2px solid var(--border-light-color);
    padding: var(--spacing-xs) var(--sizing-sm);
}

.skill.expert {
    background-color: var(--expert-color);
}

.skill.proficient {
    background-color: var(--proficient-color);
}

.skill.learning {
    background-color: var(--learning-color);
}

.skill h3 {
    font-weight: 400;

}

/* contact */
.c-qualifications {
    background-color: var(--bg--section-2-color);
}

.button-active {
    background-color: var(--primary-color);
}

.c-header__collapse {
    display: none;
    flex-shrink: 0;
    color: var(--white-color);
    transition: background-color 200ms linear;
    width: var(--sizing-lg);
    height: var(--sizing-lg);
    position: relative;
    margin-right: auto;
    cursor: pointer;
}

.c-header__collapse span {
    height: var(--ham-line-size);
    width: 100%;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.o-container--header:has(.c-nav.active) .c-header__collapse span:nth-child(1) {
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
}

.o-container--header:has(.c-nav.active) .c-header__collapse span:nth-child(2) {
    opacity: 0;
}

.o-container--header:has(.c-nav.active) .c-header__collapse span:nth-child(3) {
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
}

.c-header__collapse span:nth-child(1) {
    top: 25%;
}

.c-header__collapse span:nth-child(3) {
    top: 75%;
}


/* xl device */
@media (max-width: 1200px) {
    .skills-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .c-projects__cards {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    .c-how-box-container {
        grid-template-columns: 1fr 1fr;
    }
}


/* lg device */
@media (max-width: 992px) {
    .services__cards {
        gap: var(--spacing-xl);
        grid-template-columns: repeat(2, 1fr);
    }

    .c-about__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .c-about__card__content--summary {
        grid-column: span 2;
    }

    .c-categories {
        grid-template-columns: 1fr;
        gap: var(--spacing-md);
    }

    .c-services-filter {
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--spacing-md);
    }

    .c-services-filter__button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    .o-container--header {
        flex-direction: column;
    }

    .c-header__top {
        width: 100%;
    }

    .c-header__button {
        display: none;
    }

    .c-header__collapse {
        display: flex;
    }

    .c-nav {
        display: none;
    }

    .c-nav.active {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: var(--spacing-md);
        justify-content: center;
        padding-bottom: var(--spacing-md);
        transition: all 5s linear;

    }

    .c-nav__li {
        width: 100%;
    }

    .c-nav__li:last-child {
        display: flex;
    }

    .c-nav__li a {
        flex: 1;
    }

    .c-projects__cards {
        grid-template-columns: 1fr;
    }

}

/* md device */
@media (max-width: 768px) {
    .projects-container {
        gap: var(--spacing-md);
    }

    .project-card main {
        padding: var(--spacing-smmd);
    }

    .project-card header {
        height: var(--sizing-xxl);
    }

    .project-technique {
        gap: var(--spacing-sm);
    }

    .project-technique li {
        padding: 0 var(--spacing-xs);
    }

    .project-card-title {
        font-size: var(--sizing-md);
    }

    .project-card main>* {
        padding: var(--spacing-smmd) 0;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .c-services-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .c-instructions>div {
        grid-template-columns: 1fr;
    }
}

/* sm device */
@media (max-width: 600px) {
    .projects-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: var(--spacing-md);
    }

    .skills-con-with-nav {

        gap: var(--spacing-sm);
    }

    section {
        padding: var(--spacing-md);
    }

    h1 {
        margin-bottom: var(--spacing-md);
    }

    .c-skills .o-container {
        gap: var(--spacing-md);
    }

    .c-services .o-container {
        gap: var(--spacing-lg);
    }

    .services__cards {
        gap: var(--spacing-md);
    }

    .services__card {
        padding: var(--sizing-lx) var(--spacing-md) var(--spacing-md);
    }

    .services__card i {
        top: -24px;
        width: var(--sizing-lx);
        height: var(--sizing-lx);
        font-size: var(--sizing-lg);
    }

    .services__card h2 {
        font-size: var(--sizing-md);
    }

    .services__direct {
        font-size: var(--spacing-smd);
        padding: var(--spacing-xs);
    }

    .c-about__cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: var(--spacing-md);
    }

    .c-about__card__content--summary {
        grid-column: span 1;
    }

    .c-service-main__icon--size {
        width: var(--icon-font-size);
        height: var(--icon-font-size);
    }

    .c-how-box {
        padding: var(--spacing-sm);
    }


    .c-projects__button {
        padding: var(--spacing-sm);
    }

    .c-categories {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .c-services-cards-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

/* xs device */
@media (max-width: 500px) {
    h1 {
        font-size: var(--sizing-ml);
    }

    h3,
    h2 {
        font-size: var(--sizing-md);
    }

    .bgcolor-guide {
        flex-direction: column;
        gap: var(--spacing-sm);
    }

    .bgcolor-guide div {
        width: 100%;
        gap: var(--spacing-sm);
    }

    .bgcolor-guide button {
        width: 100%;
        font-size: var(--sizing-md);
        padding: var(--spacing-sm);
        border: 1px solid var(--border-light-color);
    }

    .skills-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .skill {
        height: var(--sizing-lx);
    }

    .skill img {
        padding: 0;
    }

    .skills-grid h2 {
        font-size: var(--spacing-smd);
        text-align: center;
    }

    .c-hero__content__title {
        line-height: 1.3;
    }

    .c-hero__actions,
    .c-hero__content {
        gap: var(--spacing-md);
    }

    .c-hero__content span {
        font-size: var(--sizing-md);
    }

    .c-hero__content span img {
        width: var(--sizing-md);
        height: var(--sizing-md);
    }

    .c-projects__button span {
        display: none;
    }

    .services__card h3 {
        font-size: var(--sizing-md);
    }

    .c-about__card__content>*:not(:first-child) {
        font-size: var(--spacing-smmd);
    }

    .c-about__list__child span {
        display: block;
    }
}