.breadcrumb-container--terms {
    background-color: var(--bg-2-color);
}

.terms-of-service {
    background-color: var(--bg-2-color);
}

.terms-of-service .o-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.terms-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-lg);
}

.card .card__title {
    color: var(--text-black-color);
    font-weight: 400;
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-bottom: 1px solid var(--border-color);
}

.card--details {
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
    background-color: var(--bg-1-color);
    border: 1px solid var(--border-color);
}

.card--details summary {
    cursor: pointer;
}

@media (max-width: 992px) {
    .terms-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--spacing-lg);
    }
}